<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fix</title>
    <title>Fix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <div class="site-title">
        <h1>Recipe Search</h1>
    </div>
    <div class="web-pages">
        <h2> <a href="/" class="127.0.0.1:5000">Home Page</a>
        <a href="/search" class="127.0.0.1:5000/search">Search</a>
        <a href="/fix" class="127.0.0.1:5000/fix">Fix</a> </h2>
    </div>
    </nav>

<h3>What problem are you having with your {{ selected }}?</h3>
<p>texture</p>
<p>flavour</p>
<p>burnt</p>

<body>
</html>
