<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <div class="site-title">
        <h1>Recipe Search</h1>
    </div>
    <div class="web-pages">
        <h2> <a href="/" class="127.0.0.1:5000">Home Page</a>
        <a href="/search" class="127.0.0.1:5000/search">Search</a>
        <a href="/fix" class="127.0.0.1:5000/fix">Fix</a> </h2>
    </div>
    </nav>
     <h3> Welcome to recipe search!</h3>
    <p> There are two modes: Fix and Search.</p>
    <br>
    <p> In Fix, you are able to find a solution to whatever dish
        <br> you are currently having problems with by selecting the type of dish and issue(s) you're experiencing. </p>
   <p> In Search, you can look recipes up using items already available in your pantry using the search bar.</p>
</body>
</html>